<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Option Price Panel</title>
    <script></script>
</head>
<body>{{ AgPrice }}
  <p>Long Option Price Calculator</p>
  <table frame="border">
      <colgroup>
          <col style="background-color: #0f0">
          <col style="background-color: gray">
          <col span="2">
      </colgroup>
      <tr>
          <td>Underlying</td>
          <td>Ag1606</td>
      </tr>
      <tr>
          <td>Underlying Price</td>
          <td></td>
      </tr>
  </table>
  <table frame="border">
      <colgroup>
          <col style="background-color: #0f0">
          <col style="background-color: gray">
          <col span="2">
      </colgroup>
      <tr>
          <th>Parameters</th>
          <th>Values</th>
      </tr>
      <tr>
          <td>Maturity Day</td>
      </tr>
      <tr>
          <td>Strike Price</td>
      </tr>
      <tr>
          <td>Rate</td>
      </tr>
      <tr>
          <td>Call/Put</td>
      </tr>
      <tr>
          <td>Quantity</td>
      </tr>
  </table>
  <p>
      <table frame="border">
      <colgroup>
          <col style="background-color: #0f0">
          <col style="background-color: gray">
          <col span="2">
      </colgroup>
          <tr>
              <td>Option Price</td>
              <td></td>
          </tr>
      </table>
  </p>
</body>
</html>